@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");
:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
  font-size: 1.3rem;
  background-color: #ddd;
}

.container {
  padding: 5vh 5vw;
}

.controls {
  background: white;
  margin: 0 auto;
  text-align: center;
  min-height: max-content;
  line-height: 2.5;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.img img {
  margin: 50px;
  padding: var(--spacing);
  background: var(--base);
  width: 400px;
  height: 250px;
  filter: blur(var(--blur));
}

.hl {
  color: var(--base);
}

input {
  width: 100px;
}
